* {
	box-sizing: border-box;
}

:root {
	--primary-color: #1d4d72;
	--secondary-color: #333333;
	--text-color: #ffffff;
	--main-font: "Montserrat", sans-serif;
}

html,
body {
	height: 100%;
	margin: 0;
}

header {
	color: var(--text-color);
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

html {
	font-family: var(--main-font);
	height: 100%;
}

#course-title {
	display: block;
	background-color: var(--primary-color);
	color: var(--text-color);
	text-align: center;
	padding: 1rem 0;
}

nav {
	display: flex;
	background-color: var(--secondary-color);
	flex-wrap: wrap;
	padding: 0;
}

nav a {
	display: block;
	text-decoration: none;
	color: var(--text-color);
	flex: 1 0 100px;
	text-align: center;
	margin: 0;
	padding: 0.75rem 0;
}

nav a:hover {
	background-color: var(--text-color);
	color: var(--secondary-color);
	font-weight: bold;
}

main {
	flex: 1;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 1fr 5fr;
}

.card {
	border: 1px solid var(--secondary-color);
	border-radius: 20px;
	margin: 1rem;
}

.about-me {
	grid-column: 2 / 9;
}

.web-dev-resources {
	grid-column: 9 / 12;
}

h1 {
	grid-column: 1 / 13;
	text-align: center;
}

h2 {
	background-color: var(--primary-color);
	color: var(--text-color);
	padding: 1rem;
	margin: 0;
	text-align: center;
	border-radius: 20px 20px 0 0;
}

p {
	padding: 1.5rem;
}

img {
	float: right;
	width: 200px;
	height: auto;
	margin: 1.5rem;
	border-radius: 20px;
	border: 2px solid var(--primary-color);
}

footer {
	background-color: var(--primary-color);
	color: var(--text-color);
	text-align: center;
}

@media (max-width: 1200px) {
	main {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.web-dev-resources {
		flex: 0 1 100%;
	}
}
