* {
	box-sizing: border-box;
	margin: 0;
	font-family: "Montserrat", sans-serif;
}

:root {
	--primary-color: rgb(245, 242, 242);
	--secondary-color: rgb(26, 26, 109);
	--text-hover: rgb(40, 39, 39);
	--img-card-shadow: rgba(0, 0, 0, 0.42);
	--card-background: rgb(238, 238, 238);
	--card-border: rgb(210, 210, 210);
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
	text-align: center;
	width: 100%;
	font-size: 2rem;
	padding: 1rem 0;
	background-color: var(--secondary-color);
	color: var(--primary-color);
}

#menu {
	position: absolute;
	top: 5px;
	right: 20px;
}

#menu::before {
	content: "\2630";
	font-size: 50px;
	color: var(--primary-color);
}

#menu.show::before {
	content: "\2715";
	font-size: 50px;
	color: var(--primary-color);
}

nav {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

nav a {
	display: none;
	font-size: large;
	width: 100%;
	height: 40px;
	color: var(--text-hover);
	text-decoration: none;
	text-align: center;
	border: 0.5px solid;
	padding: 10px;
	background-color: var(--primary-color);
}

nav a.show {
	display: block;
}

nav a:hover {
	background-color: var(--text-hover);
	color: var(--primary-color);
}

main {
	flex: 1;
	display: grid;
	margin: 0 auto;
	padding: 2rem;
	grid-template-columns: 1fr;
	align-items: center;
	justify-items: center;
	gap: 2rem;
}

main h1 {
	margin: 1rem;
	font-size: 30px;
	justify-self: center;
}
.place-card {
	width: min(352px, 100%);
	padding: 30px;
	border: 1px solid var(--card-border);
	background: var(--card-background);
	text-align: center;
}

.place-card h1 {
	margin: 0 0 12px;
	font-size: 22px;
	font-weight: 700;
}

.details {
	margin: 0 0 19px;
	font-size: 14px;
	line-height: 19px;
	height: 70px;
}

.details p {
	margin: 0;
}

.place-card img {
	display: block;
	width: 100%;
	height: 180px;
	object-fit: cover;
	box-shadow: 0 2px 13px 3px var(--img-card-shadow);
}

footer {
	width: 100%;
	height: 100px;
	padding: 20px;
	margin-top: 1rem;
	background-color: var(--secondary-color);
	color: var(--primary-color);
}

footer p {
	display: block;
	text-align: center;
}

@media screen and (min-width: 700px) {
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 1rem;
	}

	nav {
		flex-direction: row;
		margin: 1rem;
	}

	nav a {
		display: block;
		border: none;
		font-size: large;
		background-color: var(--secondary-color);
		color: var(--primary-color);
	}

	nav a:hover {
		font-size: 1.5rem;
		background-color: var(--primary-color);
		color: var(--secondary-color);
	}

	main {
		grid-template-columns: 1fr 1fr;
	}
	main h1 {
		grid-column: 1/3;
	}

	#menu {
		display: none;
	}
}

@media screen and (min-width: 1024px) {
	main {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 50px 1fr;
	}
	main h1 {
		grid-column: 1/4;
	}
}
